.Contact-submit {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Contact-submit:hover {
  background-color: #0056b3;
}

.FeedbackForm-star {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.feedback-div {
  background-image: url(../images/foodies.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Feedback-button {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #004494;
  color: white;
}

.feedback-content {
  padding: 20px;
  background-color: #fff;
}

.feedback-slider-container {
  margin: 0px 3%;
}

.feedback-card {
  height: 160px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto !important;
}

.single-feedback {
  width: 65% !important;
}

.two-feedbacks {
  width: 55% !important;
}

.multiple-feedbacks {
  width: 95% !important;
}

.slick-prev:before,
.slick-next:before {
  color: #ddd !important;
  font-size: 30px !important;
  margin: 0px -20px !important;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #333 !important;
  opacity: 1;
}

.feedback-card .user-profile {
  width: 32px;
  height: 32px;
  background-color: #f66b0e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-left: 6px;
  padding-right: 6px;
}

.feedback-card .card-body {
  padding: 15px;
}

.feedback-card .text-capitalize {
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

.feedback-card .feedback-text {
  font-size: 0.9rem;
  color: #333;
}

.feedback-card .feedback-text::before {
  content: '"';
  font-size: 1.2rem;
  color: #333;
  vertical-align: top;
}

.feedback-card .feedback-text::after {
  content: '"';
  font-size: 1.2rem;
  color: #333;
  vertical-align: bottom;
}

.main-feedback {
  background-image: url("../images/donate_bgimg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.feedback-title {
  margin-bottom: 5px !important;
}

.Feedback-form-container {
  max-width: 450px;
  width: 100%;
  margin: 15px auto;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.Feedback-group .form-label {
  font-weight: bold;
  color: #2c3e50;
  font-size: 12px;
  margin-bottom: 5px;
}

.invalid-ratings {
  font-size: 12px;
  margin-top: 0px !important;
  color: #dc3545;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  width: 100%;
  border-radius: 8px;
  font-size: 12px;
  padding: 6px 12px;
  /* margin-bottom: 8px; */
}

.form-control:focus {
  border-color: #f66b0e;
  box-shadow: 0 0 0 0.25rem rgba(0, 72, 148, 0.25);
  outline: none;
}

.form-control::placeholder {
  color: #d6d2d2;
}

.FeedbackForm-star {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.FeedbackForm-star .star {
  cursor: pointer;
  color: #ffd700;
}

.FeedbackForm-star .star.filled {
  color: #ffd700;
}

.button-row-feedback {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 0px !important;
}

.small-button {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 6px;
  flex: 0 0 auto;
}

.small-button:first-of-type {
  background-color: #a1abb2;
  color: white;
  border: none;
}

.small-button:first-of-type:hover {
  background-color: #898e93;
}

.small-button:last-of-type {
  background-color: #f66b0e;
  color: white;
  border: none;
}

.small-button:last-of-type:hover {
  background-color: #e67e22;
}

.star {
  color: rgb(207, 207, 81);
  font-size: x-large;
}

.upload-icon {
  font-size: 20px;
  margin-right: 5px;
}

.upload-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #f66b0e;
  font-weight: 500;
  font-size: 13px;
  /* background-color: #f5efea; */
  border: 1px dashed #f66b0e;
  padding: 35px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media (max-width: 769px) {

  .single-feedback,
  .two-feedbacks,
  .multiple-feedbacks {
    width: 95% !important;
  }

  .feedback-card {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    margin: 0 auto !important;
  }

  .Feedback-form-container {
    padding: 25px;
    max-width: 350px;
    margin: 0px 10px;
  }
}

@media (max-width: 1280px) {
  .main-feedback {
    min-height: 100vh;
  }
}