.footer-container {
    background-color: var(--darkblack-color);
    color: var(--white-color);
    text-align: center;
    width: 100%;
    padding: 1rem 0;
  }
  
  .footer-text {
    margin: 0;
    font-size: 1rem;
  }
  
  .text-gray-300 {
    color: #e0e0e0;
  }
  
  .border-top {
    border-top: 1px solid gray;
  }
  