.header-container {
  top: 0;
  z-index: 1000;
  position: sticky;
}

.user-dropdown .dropdown-toggle::after {
  display: none !important;
}

.navbar-nav .nav-item.user-dropdown {
  margin-right: 1rem;
}

.logo-image {
  margin-left: 10px;
}

.logo-image {
  margin-left: 1rem;
}

.navbar {
  background-color: var(--darkblack-color);
}

.navbar-nav {
  align-items: center;
  font-size: large;
}

.navbar-nav .nav-item {
  margin-right: 2rem;
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
}

.toaster-alert {
  background-color: #d4edda;
  border-left: 5px solid #28a745;
}

#aboutUsDropdown {
  margin-left: 5px;
}

.user-info .nav-link::after {
  display: none;
}

.nav-link {
  padding: 0 !important;
}

.navbar-toggler {
  margin-right: 10px;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

hr {
  margin: 5px 8px;
  color: #a9a5a5;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: left;
}

.dropdown-item {
  color: #242424 !important;
  font-size: 15px;
  font-weight: 400;
  padding: 1px 8px 3px;
}

.user-dropdown-item {
  color: #242424 !important;
  font-size: 15px;
  font-weight: 400;
  padding: 5px 13px 2px;
}

.user-info {
  display: flex;
  /* align-items: flex-start; */
  align-items: center;
}

.user-info:hover {
  color: var(--primary-color) !important;
  /* background-color: var(--bg-color); */
  background-color: rgb(245, 239, 234);
  transition: background-color 0.3s ease, color 2s ease;
}

.dropdown-item svg {
  margin-right: 6px;
}

.dropdown-item:hover {
  background-color: rgb(245, 239, 234);
  color: var(--primary-color) !important;
  border-radius: 4px;
}

.user-dropdown-item:hover {
  background-color: rgb(245, 239, 234);
  color: var(--primary-color) !important;
  border-radius: 4px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

p {
  margin-bottom: 0px;
}

.username {
  font-size: 16px;
  width: 40px;
  height: 40px;
  font-weight: 500;
  cursor: pointer;
}

.user-toggle .dropdown-toggle::after {
  display: none;
}

.header-login-button {
  color: white;
  padding: 6px 14px;
  cursor: pointer;
  border-radius: 20px;
  margin: 0px 1rem 0px 0px !important;
  background-color: var(--primary-color);
  border: none !important;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-login-button svg{
  margin-left: 4px;
}

.header-login-button:hover {
  background-color: var(--primary-color);
  transition: background-color 1s ease;
}

@media (max-width: 992px) {

  .navbar-nav .nav-item.user-dropdown {
    margin-right: 2rem;
  }

  .navbar-nav .nav-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header-login-button{
    margin: 3px 2rem 0px 0px !important;
  }

  .navbar-collapse {
    padding-bottom: 10px;
  }
}