.Header-container {
  height: 90px;
  justify-content: end;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-bottom: 0;
}

.logo-image {
  margin-left: 4rem;
}

.navbar {
  background-color: #333;
  width: 100%;
  position: absolute;
  height: 90px;
}

.navbar-nav {
  align-items: center;
  font-size: large;
  margin-left: 90px;
  .nav-item {
    margin-right: 2rem;
  }
}

.navbar-brand {
  margin-right: 930px;
}

.toaster-alert {
  background-color: #d4edda;
  color: #155724;
  border-left: 5px solid #28a745;
}

#aboutUsDropdown {
  margin-left: 5px;
}

.nav-link {
  cursor: pointer;
}
