.join-now-container {
  max-width: 550px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  position: absolute;
  top: 18%;
  left: 7%;
  background-color: aliceblue;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.join-now-header {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000;
  height: 100%;
}

.join-now-form {
  height: calc(100% - 178px);
}

.join-now-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}

.join-div {
  background-image: url(../images/Join_now_img.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  filter: blur(4px);
  width: 100%;
}

.form-label {
  font-weight: bold;
  margin-bottom: 0px;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.joinNow-label {
  margin-bottom: 10px;
}

.join-button[type="submit"] {
  background-color: #004494;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  margin: 10px 0px 10px !important;
  cursor: pointer;
}

.join-button[type="submit"]:hover {
  background-color: #004494;
}
