.login-container {
  max-width: 1680px !important;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 182vh;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../images\/FDP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .transparent-box-1 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 85px;
    border-radius: 4px;
    box-shadow: 0 0 10px #fff;
    text-align: left;
    margin-right: 580px;
  }

  .loginName {
    color: white;
  }

  h2 {
    text-align: center;
  }

  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .login-button {
    color: #fff;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 16rem 0px 2px !important;
    color: #fff;
    width: 100%;
    background-color: #1f993d !important;
    border: white !important;
    padding: 7px 15px;
    border-radius: 4px;
  }

  .login-button:hover {
    background-color: #135b18 !important;
  }

  .password-container {
    position: relative;
  }

  .toggle-password-visibility {
    position: absolute;
    top: 50%;
    left: 671px;
    transform: translateY(62%);
    background: none;
    border: none !important;
    --bs-btn-color: #5e5f62;
  }

  .toggle-password-visibility:hover {
    color: #5e5f62;
    background-color: white !important;
  }
}
