.login-container {
  max-width: 100% !important;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 182vh;
  padding: 20px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  /* background-image: url(../images\/FDP.jpg); */
  background-image: url(../images/food-donate-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .transparent-box-1 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 60px;
    box-shadow: 0 0 10px var(--white-color);
    text-align: left;
    max-width: 400px;
    width: 100%;
  }

  .input-group-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border: none;
    cursor: pointer;
    padding: 5px 10px;
  }

  .login-div {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

  .email-div {
    color: white;
  }

  .loginName {
    color: white;
  }

  .mb-3 {
    color: white;
  }

  h2 {
    font-size: 1.8rem;
  }

  .input-group {
    display: flex;
    align-items: center;
  }

  input,
  .input-group input {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 10px;
    border-radius: 5px !important;
  }

  .login-button {
    color: white;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 20px;
    margin: 0px 16rem 0px 2px !important;
    width: 100%;
    background-color: var(--primary-color) !important;
    border: none !important;
    padding: 7px 15px;
    border-radius: 4px;
  }

  .viewer {
    cursor: pointer;
    border: none;
    position: absolute;
    right: 1px;
    top: 12px;
  }

  .icon-div {
    margin-right: 5px;
  }

  .password-div .input-group input {
    border-radius: 5px;
  }

  .login-button:hover {
    background-color: var(--primary-color) !important;
  }

  .password-container {
    position: relative;
  }

  /* .invalid-feedback {
    display: block !important;
    margin-top: 0 !important;
  } */

  .toggle-password-visibility {
    position: absolute;
    top: 50%;
    left: 671px;
    transform: translateY(62%);
    background: none;
    border: none !important;
    --bs-btn-color: #5e5f62;
  }

  .mt-3 {
    color: var(--white-color);
    text-align: center;
  }

  .toggle-password-visibility:hover {
    color: #5e5f62;
    background-color: white !important;
  }

  .form-label {
    margin-bottom: 0px;
  }

  .link-div {
    font-weight: bold;
    color: white;
  }

  .alert-div {
    margin-top: 10px;
  }

  .viewer {
    font-size: 18px;
  }

  .viewer svg {
    width: 17px;
    height: 17px;
  }

  input[type="time"]+ .input-group-text {
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .transparent-box-1 {
    padding: 30px !important;
    border-radius: 15px !important;
  }

  .login-div {
    font-size: 1.5rem !important;
  }

  .login-button {
    margin-top: 10px !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }

}

@media (max-width: 480px) {
  .transparent-box-1 {
    padding: 20px !important;
  }

  .login-div {
    font-size: 1.2rem !important;
  }

  h2 {
    font-size: 1.3rem !important;
  }

  .login-button {
    padding: 8px !important;
  }

}

@media (max-width: 380px) {
  .transparent-box-1 {
    padding: 20px !important;
  }

  .login-div {
    font-size: 1.2rem !important;
  }

  h2 {
    font-size: 1.3rem !important;
  }

  .login-button {
    padding: 8px !important;
  }
}