.Registration-form {
  max-width: 5117px !important;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../images\/FDP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .form-group {
    text-align: left;
    margin-top: 10px;
  }

  .transparent-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 70px;
    border-radius: 60px;
    box-shadow: 0 0 10px #fff;
  }

  .main-div {
    color: white;
  }

  .form-label {
    font-weight: unset;
    margin-bottom: 8px;
  }

  .mt-3 {
    width: 87%;
  }

  .form-group svg {
    margin-right: 5px;
  }

  .login-form h2 {
    text-align: center !important;
  }

  input {
    width: 87%;
    padding: 10px;
    margin: 2px !important;
  }

  .register-button {
    color: #fff;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 16rem 0px 2px !important;
    color: #fff;
    width: 87%;
    background-color: #1f993d !important;
    border: white !important;
    padding: 7px 15px;
    border-radius: 4px;
  }

  .register-button:hover {
    background-color: #135b18 !important;
  }

  .login-link {
    color: white;
  }

  .translate-middle {
    transform: translate(-115%, 0%) !important;
  }
}
